@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');

/* All */
* {
  background-color: #101010;
  color: #f8f8f8;
  font-family: 'Lato', sans-serif;
  /* border: 2px dashed red; */
}

a {
  text-decoration: none;
}

span.material-symbols-outlined {
  margin: 5px;
  color: #f8f8f8;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* NavBar */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  height: 75px;
  padding: 0px 20px;
}

nav span.container {
  display: flex;
  position: relative;
}

span.button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  justify-content: right;
}

span.signup {
  background-color: #be0b6d;
}

span.signup:hover {
  transition: background 0.15s ease;
  background-color: #cb3c8b;
}

span.signin {
  background-color: #202020;
}

span.signin:hover {
  background-color: #303030;
  transition: background 0.15s ease;
}

nav div.search-bar {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

nav div.search-bar * {
  background-color: #202020;
}

nav div.search-bar:hover *, 
nav div.search-bar:focus-within * {
  background-color: #303030;
  transition: background 0.15s ease;
}

.search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.search:focus-within {
  border: 1px solid #f8f8f8;
}

.search input {
  border: 0;
  /* width: 300px; */
  max-width: 300px;
  font-size: 18px;
}

.search input:focus-visible {
  outline: none;
}

nav .dropdown {
  position: relative;
  display: inline-block;
  margin: 15px;
}

nav .dropdown-icon {
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

nav .dropdown-icon span {
  font-size: 20px;
}

nav .dropdown-icon span:first-child {
  font-size: 35px;
}

nav .dropdown-icon span {
  margin: 3px;
}

nav .dropdown-content {
  position: absolute;
  z-index: 1;
  right: 0;
}

nav .hidden {
  display: none;
}

nav .dropdown-line {
  display: flex;
  align-items: center;
  padding: 10px 3px;
  width: 100%;
  border-radius: 4px;
}

nav .dropdown-line:hover,
nav .dropdown-line:hover * {
  background-color: #303030;
  transition: background 0.15s ease;
}

nav .dropdown-content * {
  background-color: #202020;
}

/* Home */
div.section {
  margin: 20px;
}

.section-name {
  font-weight: 900;
  font-size: 24px;
  margin: 7px;
}

/* AlbumCard */
.album-card, 
.album-card * {
  background-color: #202020;
}

.album-card:hover, 
.album-card:hover * {
  background-color: #303030; 
  transition: background 0.3s ease;
}

span.album-card {
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  margin: 7px;
}

.album-card image {
  display: block;
  margin: 0 auto;
}

.album-card span.card-entry {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 175px;
  text-align: left;
  display: block;
  margin: 3px;
}

.album-card span.artist-entry,
.album-card span.artist-entry * {
  font-weight: bold;
  font-size: 14px;
  color: #b3b3b3;
}

.album-card span.artist-name:hover {
  text-decoration: underline;
}

/* SignIn */
div.sign-form {
  margin: 50px 15%;
  padding: 3% 13%;
  border: 1px solid #f8f8f8;
  border-radius: 20px;
  /* width: 50%; */
}

/* div.sign-form * {
  display: block;
} */

div.sign-form div.title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

div.sign-form label {
  font-weight: bold;
}

div.sign-form input {
  width: 100%;
  height: 35px;
  border: 1px solid #f8f8f8;
  font-size: 18px;
}

div.sign-form .req {
  font-size: 12px;
}

div.sign-form .input {
  margin: 15px 0;
}

div.sign-form .error {
  color: red;
}

div.sign-form .button {
  text-align: center;
}

div.sign-form button {
  padding: 15px 20px;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  width: 200px;
}

div.sign-form button.signup {
  background-color: #be0b6d;
}

div.sign-form button.signup:hover {
  background-color: #cb3c8b;
  transition: background 0.15s ease;
} 

div.sign-form button.signin {
  background-color: #202020;
}

div.sign-form button.signin:hover {
  background-color: #303030;
  transition: background 0.15s ease;
}

div.sign-form button:loading {
  background-color: #707070;
}
