@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');

/* All */
html, nav *, .pages * {
  background-color: #101010;
  color: #f8f8f8;
  font-family: 'Lato', sans-serif;
  /* border: 2px dashed red; */
}

a {
  text-decoration: none;
}

span.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  margin: 5px;
  color: #f8f8f8;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

/* NavBar */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  height: 75px;
  padding: 0px 20px;
}

nav span.container {
  display: flex;
  position: relative;
}

span.button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  justify-content: right;
}

span.signup {
  background-color: #be0b6d;
}

span.signup:hover {
  transition: background 0.15s ease;
  background-color: #cb3c8b;
}

span.signin {
  background-color: #202020;
}

span.signin:hover {
  background-color: #303030;
  transition: background 0.15s ease;
}

nav div.search-bar {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

nav div.search-bar * {
  background-color: #202020;
}

nav div.search-bar:hover *, 
nav div.search-bar:focus-within * {
  background-color: #303030;
  transition: background 0.15s ease;
}

.search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.search:focus-within {
  border: 1px solid #f8f8f8;
}

.search input {
  border: 0;
  max-width: 300px;
  font-size: 18px;
}

.search input:focus-visible {
  outline: none;
}

nav .dropdown {
  position: relative;
  display: inline-block;
  margin: 15px;
}

nav .dropdown-icon {
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

nav .dropdown-icon span {
  font-size: 20px;
}

nav .dropdown-icon span:first-child {
  font-size: 35px;
}

nav .dropdown-icon span {
  margin: 3px;
}

nav .dropdown-content {
  position: absolute;
  z-index: 1;
  right: 0;
}

nav .hidden {
  display: none;
}

nav .dropdown-line {
  display: flex;
  align-items: center;
  padding: 10px 3px;
  width: 100%;
  border-radius: 4px;
}

nav .dropdown-line:hover,
nav .dropdown-line:hover * {
  background-color: #303030;
  transition: background 0.15s ease;
}

nav .dropdown-content * {
  background-color: #202020;
}

/* Home */
div.section {
  margin: 20px;
}

.section-name {
  font-weight: 900;
  font-size: 30px;
  margin: 7px;
}

/* AlbumCard */
.card, 
.card * {
  background-color: #202020;
}

.card:hover, 
.card:hover * {
  background-color: #303030; 
  transition: background 0.3s ease;
}

span.card {
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  margin: 7px;
}

.card image {
  display: block;
  margin: 0 auto;
}

.card span.card-entry {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 175px;
  text-align: left;
  display: block;
  margin: 3px;
}

.card span.sub-entry,
.card span.sub-entry * {
  font-weight: 600;
  font-size: 14px;
  color: #b3b3b3;
}

.card span.sub-name {
  font-weight: bold;
}

.card span.sub-name:hover {
  text-decoration: underline;
}

/* SignIn */
div.sign-form {
  margin: 50px 15%;
  padding: 3% 13%;
  border: 1px solid #f8f8f8;
  border-radius: 20px;
}

div.sign-form div.title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

div.sign-form label {
  font-weight: bold;
}

div.sign-form input {
  width: 100%;
  height: 35px;
  border: 1px solid #f8f8f8;
  font-size: 18px;
}

div.sign-form .req {
  font-size: 12px;
}

div.sign-form .input {
  margin: 15px 0;
}

div.sign-form div.errors {
  border: 1px solid #e9654e;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

div.sign-form div.errors * {
  color: #e9654e;
  font-weight: 600;
  margin: 5px;
}

div.sign-form ul.errors-list {
  list-style-position: inside;
  padding-left: 0;
}

div.sign-form .button {
  text-align: center;
}

div.sign-form button {
  padding: 15px 20px;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  width: 200px;
}

div.sign-form button.signup {
  background-color: #be0b6d;
}

div.sign-form button.signup:hover {
  background-color: #cb3c8b;
  transition: background 0.15s ease;
} 

div.sign-form button.signin {
  background-color: #202020;
}

div.sign-form button.signin:hover {
  background-color: #303030;
  transition: background 0.15s ease;
}

div.sign-form button:loading {
  background-color: #707070;
}

/* Album */
div.head {
  display: flex;
}

div.head span.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

div.head img {
  margin: 0 10px;
}

div.head span.title div.name {
  font-weight: bold;
  font-size: 40px;
  margin: 20px 0;
}

div.head span.title div.artists a:hover {
  text-decoration: underline;
}

div.head span.title div.artists {
  font-size: 20px;
}

/* TrackBar */
div.track {
  margin: 10px;
  display: flex;
  align-items: center;
}

div.track span {
  margin: 0 20px;
  font-size: 20px;
}

div.track span.index {
  width: 1.25%;
}

div.track span.track-name {
  width: 30%;
}

div.track span.stars {
  width: 30%;
}

div.track .star {
  margin: 0;
  font-size: 40px;
  font-variation-settings: 'FILL' 1; 
}

div.track .star:hover {
  cursor: pointer;  
}

div.track span.active {
  color: #6b3082;
}

div.track span.graph-button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  margin: 5px;
  font-weight: 700;
  font-size: 14px;
  border: 0;
  border-radius: 20px;
  justify-content: right;
  color: #1a70dc;
  background-color: #202020;
}

div.track span.graph-button:hover {
  transition: background 0.15s ease;
  background-color: #303030;
  cursor: pointer;
}


div.track div.graph-container {
  width: 20%;
}

/* Artist */
img.circle {
  border-radius: 50%;
  background-color: #202020;
}

div.content {
  margin: 20px;
}

/* User */
span.pfp {
  font-size: 200px;
  font-variation-settings: 'FILL' 1; 
}

div.section div.head span.title span.follow-button {
  padding: 10px 0px;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  text-align: center;
  color: #f8f8f8;
}

div.section div.head span.title span.follow-button:hover {
  background-color: #202020;
  cursor: pointer;
}

div.section p.name {
  font-weight: bold;
  font-size: 24px;
  margin: 7px;
}

/* Search */
div.section span.category-button {
  padding: 10px 20px;
  margin: 5px;
  font-weight: 700;
  font-size: 14px;
  border: 0;
  border-radius: 20px;
  justify-content: right;
}

div.section span.category-button.inactive {
  background-color: #202020;
}

div.section span.category-button.inactive:hover {
  background-color: #303030;
  cursor: pointer;
}

div.section span.category-button.active {
  background-color: #f8f8f8;
  color: #202020;
}

div.section span.category-button.active:hover {
  cursor: pointer;
}

div.notfound {
  margin: 100px 0;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

span.red {
  color: red;
}

span.orange {
  color: orange;
}

span.yellow {
  color: yellow;
}

span.green {
  color: green;
}

span.blue {
  color: blue;
}

span.purple {
  color: purple;
}

span.white {
  color: white;
}

/* Notif */
div.centered {
  margin: auto;
  width: 70%;
}

div.notif {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-style: solid none;
  border-width: 0.5px;
}

div.notif span.material-symbols-outlined {
  font-size: 30px;
  text-align: center;
  width: 20%;
}

div.notif span.description,
div.notif span.time {
  font-size: 20px;
}

div.notif span.description {
  width: 60%;
}

div.notif span.time {
  width: 20%;
}

div.notif a {
  font-weight: bold;
}